.black-background{
	--slds-c-card-color-background : #0a0a0a;
	--sds-c-card-color-background : #0a0a0a;
}

.heading-text-white{
	color: #ffffff;
}


.heading-text-light{
	color: #acacac;
}

.page-container {
	background-color: white;
	max-width: 90vw;
}

.square-borders {
	--slds-c-card-radius-border: 0px;
	--sds-c-card-radius-border: 0px;
}

.montseret-font {
	font-family: Montserrat;
	font-weight: 800;
}

.back-arrow {
    border-right: 1px solid #414141;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
	min-height: 60px;
}